<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css">

<div class="experience-page">
  <div class="experience-content">
    <h1>Experience & Responsibilities</h1>
  </div>
  <div class="experience-image">
    <div class="job">
      <div class="job-info">
        <h1 class="year">2023</h1>
        <a href="https://www.talinolabs.com/" class="job-link">
            <img src="./assets/talino.png" alt="talino" class="job-icon">
        </a>
        <a href="https://www.talinolabs.com/" class="job-link">
            <div class="job-details">
                <h1 class="role">FULL STACK ENGINEER</h1>
                <h2 class="company">TALINO VENTURE LABS</h2>
            </div>
        </a>
      </div>
      <p class="description">Works on Talino’s product/projects from the initial planning stage until its final launch. Stay updated and knowledgeable about current industry trends and emerging technologies to meet user needs. Communicates and consults with team members and stakeholders to deliver high-quality products.</p>
    </div>

    <div class="job">
      <div class="job-info">
        <h1 class="year">2023</h1>
        <a href="https://medprojects.com/" class="job-link">
            <img src="./assets/medprojects.png" alt="medprojects" class="job-icon">
        </a>
        <a href="https://medprojects.com/" class="job-link">
            <div class="job-details">
                <h1 class="role">FULL STACK DEVELOPER</h1>
                <h2 class="company">MEDPROJECTS INC.</h2>
            </div>
        </a>
      </div>
      <p class="description">Responsible for designing, developing, and maintaining web applications for the healthcare industry. Utilize expertise in Angular, PHP, Laravel, and SQL to create scalable and high-performance solutions. Collaborate with a skilled team of developers, designers, and project managers to improve patient care and meet client needs.</p>
    </div>

    <div class="job">
      <div class="job-info">
        <h1 class="year">2022</h1>
        <a href="https://www.sulzer.com/en/" class="job-link">
            <img src="./assets/sulzer.png" alt="medprojects" class="job-icon">
        </a>
        <a href="https://www.sulzer.com/en/" class="job-link">
            <div class="job-details">
                <h1 class="role">ETL CONSULTANT</h1>
                <h2 class="company">SULZER</h2>
            </div>
        </a>
      </div>
      <p class="description">
        Spearheaded an entire project from start to finish, taking charge of every aspect from gathering requirements to deploying the final product. 
        Notably, I achieved completion ahead of schedule, demonstrating my efficient project management skills. One of my key responsibilities 
        was developing and enhancing data solutions to ensure seamless data delivery.
      </p>
    </div>

    <div class="job">
      <div class="job-info">
        <h1 class="year">2021</h1>
        <a href="https://www.globiq.nl/over-ons" class="job-link">
            <img src="./assets/globiq.png" alt="globiq" class="job-icon">
        </a>
        <a href="https://www.globiq.nl/over-ons" class="job-link">      
            <div class="job-details">
                <h1 class="role">SOFTWARE DEVELOPER</h1>
                <h2 class="company">GLOBIQ BV PHILS.</h2>
            </div>
        </a>
      </div>
      <p class="description">Software Developer at GlobiQ BV Philippines Inc. Experienced in handling front-end and back-end tasks, data integration projects, and designing prototypes. Proficient in Oracle Application Express, Talend, SQL, Java, JavaScript, and Angular. Strong understanding of business logic and enterprise systems. Primary responsibilities include UI/UX design, data integration, and maintaining databases for website functionality.</p>
    </div>
  </div>
</div>
