@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.contribution-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    text-align: center;
    padding: 20% 1%;
    background-color: #f6f6f6;
}

.h1container{
    width: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: left;
    padding-left: 8%;
    padding-top: 45px;
  }

.contribution-page h1 {
    color: #212529;
    font-family: 'Inter-SemiBold';
    font-weight: bold;
    font-size: 3.5em;
}

.graph {
    margin-top: 45px;
    margin-bottom: 45px;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
}

.graph img {
    width: 100%;
    height: auto;
}

.description {
    width: 50%;
    align-self: flex-end;
    text-align: left;
    margin-bottom: 7%;
}

.description p {
    color: #212529;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 10px;
    margin-left: 10em;
}

.description p a {
    color: #212529;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

/* #calendar {
    font-family: Helvetica, arial;
    border: 0px solid #ffffff;
    min-height: 243px;
    text-align: center;
    margin: 0 auto;
} */


@media only screen and (max-width: 1015px) {
    .description {
        width: 100%;
        align-self: flex-end;
        text-align: left;
        margin-bottom: 7%;
    }
    .description p {
        color: #212529;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 10px;
        margin-left: 6em;
    }
  }

  @media only screen and (max-width: 590px) {
    .description {
        width: 100%;
        align-self: flex-end;
        text-align: left;
        margin-bottom: 7%;
    }
    .description p {
        color: #212529;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        line-height: 10px;
        margin-left: 3em;
    }
  }
  
  @media only screen and (max-width: 420px) {
    .description {
        width: 100%;
        align-self: flex-end;
        text-align: left;
        margin-bottom: 7%;
    }
    .description p {
        color: #212529;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        line-height: 10px;
        margin-left: 3em;
    }
  }

  @media (max-width: 390px) {
    .h1container h1 {
      font-size: 30px !important;
    }
    .logo-details h1 {
      font-size: 1em !important;
    }
  }