<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css">

<div class="contribution-page">
  <h1>Realtime Github Contribution Graph</h1>
  <div class="calendar graph">
      <div id="calendar"></div>
  </div>
  <div class="description">
      <p style="font-weight: bold; font-family: DM Sans;">REALTIME GITHUB CONTRIBUTION INTEGRATION</p>
      <p>Created using Angular</p>
      <p>and GitHub API Call.</p>
      <p style="color: #343434; font-weight: bold; font-style: italic;"><a href="https://github.com/DarrelMendoza" target="_blank">View Github Account</a></p>
  </div>
</div>
