<nav class="menubar">
  <div class="logo">
      <img src="assets/all-white-logo-dm.png" width="60" alt="logo">
  </div>
  <div class="burger" (click)="toggleSideNav()" *ngIf="isBurgerVisible">
    <i class="fas fa-bars"></i>
  </div>
  <ul class="navigation" [ngClass]="{'show-nav': isNavVisible}">
    <li (click)="toLandingPage()" [ngClass]="{ 'active': isLinkActive('/landing-page') }">
      <a routerLink="/landing-page">Home</a>
    </li>
    <li (click)="toAboutPage()" [ngClass]="{ 'active': isLinkActive('/about-page') }">
      <a routerLink="/about-page">About</a>
    </li>
    <li (click)="toExperiencePage()" [ngClass]="{ 'active': isLinkActive('/experience-page') }">
      <a routerLink="/experience-page">Experience</a>
    </li>
    <li (click)="toSkillsPage()" [ngClass]="{ 'active': isLinkActive('/skills-page') }">
      <a routerLink="/skills-page">Skills</a>
    </li>
    <li (click)="toProjectsPage()" [ngClass]="{ 'active': isLinkActive('/projects-page') }">
      <a routerLink="/projects-page">Projects</a>
    </li>
    <li (click)="toBlogsPage()" [ngClass]="{ 'active': isLinkActive('/blogs-page') }">
      <a routerLink="/blogs-page">Blogs</a>
    </li>
    <li (click)="toContactsPage()" [ngClass]="{ 'active': isLinkActive('/contacts-page') }">
      <a routerLink="/contacts-page">Contact</a>
    </li>
  </ul>
</nav>
