<nav class="menubar">
    <div class="logo">
        <img src="assets/all-white-logo-dm.png" width="60" alt="logo">
    </div>
    <ul class="navigation">
      <li (click)="toLandingPage()" [class.active]="isLinkActive('/landing-page')"><a routerLink="/landing-page">Home</a></li>
      <li (click)="toAboutPage()" [class.active]="isLinkActive('/about-page')"><a routerLink="/about-page">About</a></li>
      <li (click)="toExperiencePage()" [class.active]="isLinkActive('/experience-page')"><a routerLink="/experience-page">Experience</a></li>
      <li (click)="toProjectsPage()" [class.active]="isLinkActive('/projects-page')"><a routerLink="/projects-page">Projects</a></li>
      <li (click)="toContactsPage()" [class.active]="isLinkActive('/contacts-page')"><a routerLink="/contacts-page">Contact</a></li>
    </ul>
</nav>
