<!-- Component template -->
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css">

<div class="sample-projects-container">
  <!-- Header -->
  <h1 class="header">Recent Projects</h1>

  <div class="container">
    <div class="card" (click)="openModal(0)">
        <div class="face face1" style="background-color: #3ebaad !important;">
            <div class="content">
              <img src="./assets/medtechpro-white.png" alt="Image 1">
              <h3>MEDTECHPRO <br> Hospital Management System</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
              <p>The Ultimate Hospital Management App designed to revolutionize 
                healthcare administration. Made using Angular, PHP, Laravel, SQL
              </p>
              <div class="btn" style="background-color: #3ebaad; color: #fff;" (click)="openModal(0)">LEARN MORE</div>
            </div>
        </div>
    </div>
    <div class="card" (click)="openModal(1)">
        <div class="face face1" style="background-color: #0687ff !important">
            <div class="content">
              <img src="./assets/badbeat-white.png" alt="Image 1">
                <h3>BADBEAT <br> E-Commerce Website</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>The number one destination for all things trendy and fashionable!
                   Made using PHP, HTML, CSS, Javascript, SQL
                </p>
                <div class="btn" style="background-color: #0687ff; color: #fff;" (click)="openModal(1)">LEARN MORE</div>
            </div>
        </div>
    </div>
    <div class="card" (click)="openModal(2)">
      <div class="face face1" style="background-color: #5a5a5a !important">
          <div class="content">
            <img src="./assets/storefront-white.png" alt="Image 1">
              <h3>STOREFRONT <br>2-Way Marketplace</h3>
          </div>
      </div>
      <div class="face face2">
          <div class="content">
              <p>Online platform that revolutionizes the way buyers and sellers interact in the digital marketplace. 
                Created using Angular, PHP, Laravel, SQL
              </p>
              <div class="btn" style="background-color: #5a5a5a; color: #fff;" (click)="openModal(2)">LEARN MORE</div>
          </div>
      </div>
  </div>
  </div>
</div>

<!-- This is your modal -->
<div id="myModal" class="modal" tabindex="-1">
  <div class="modal-content">
    <!-- Add your modal content here -->
    <!-- The x button is placed here -->
    <div class="close" (click)="closeModal()">&times;</div>
    
    <div class="grid product">
      <div class="column-xs-12 column-md-7">
        <div class="product-gallery">
          <div class="product-image">
            <!-- Here we bind the currentImage to the img src -->
            <img class="active" [src]="currentImage">
          </div>
          <!-- We use *ngFor to iterate over the images array and ngClass to add the 'active' class to the currentImage -->
          <ul class="image-list">
            <li class="image-item" *ngFor="let img of projectImages[currentProjectIndex]; let i = index" (click)="changeImage(i)">
              <img [src]="img" [ngClass]="{'active': i === selectedImageIndex}">
            </li>
          </ul>
        </div>
      </div>
      <div class="column-xs-12 column-md-5">
        <h1>{{ projectNames[currentProjectIndex] }}</h1>
        <h2 style="font-size: 20px;">Revolutionizing {{ projectIndustries[currentProjectIndex] }}, One System at a Time.</h2>
        <div class="description">
          <p [innerHTML]="projectDescriptions[currentProjectIndex]"></p>
        </div>
        <button class="add-to-cart">View Repository</button>
      </div>
    </div>
  </div>
</div>

