<!-- Component template -->
<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css">

<div class="sample-projects-container">
  <!-- Header -->
  <h1 class="header">Recent Projects</h1>

  <!-- Images -->
  <!-- <div class="image-container">
    <div class="image-card">
      <a href="#" class="image-link">
        <img src="./assets/medtechpro.jpg" alt="Image 1">
        <h2 class="image-title">MedTechPro Hospital Management System</h2>
        <p class="image-description">The Ultimate Hospital Management App designed to revolutionize healthcare administration. Made using Angular, PHP, Laravel, SQL</p>
      </a>
    </div>
    <div class="image-card">
      <a href="#" class="image-link">
        <img src="./assets/badbeat.jpg" alt="Image 2">
        <h2 class="image-title">BADBEAT E-Commerce Website</h2>
        <p class="image-description">Ultimate destination for all things trendy and fashionable! Made using PHP, HTML, CSS, Javascript, SQL</p>
      </a>
    </div>
    <div class="image-card">
      <a href="#" class="image-link">
        <img src="./assets/storefront.jpg" alt="Image 3">
        <h2 class="image-title">STOREFRONT MarketPlace</h2>
        <p class="image-description">Online platform that revolutionizes the way buyers and sellers interact in the digital marketplace. Created using Angular, PHP, Laravel, SQL</p>
      </a>
    </div>
  </div> -->




  <div class="container">
    <div class="card">
        <div class="face face1" style="background-color: #3ebaad !important;">
            <div class="content">
              <img src="./assets/medtechpro-white.png" alt="Image 1">
              <h3>MedTechPro <br> Hospital Management System</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
              <p>The Ultimate Hospital Management App designed to revolutionize 
                healthcare administration. Made using Angular, PHP, Laravel, SQL
              </p>
              <div class="btn" style="background-color: #3ebaad; color: #fff;">LEARN MORE</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1" style="background-color: #0687ff !important">
            <div class="content">
              <img src="./assets/badbeat-white.png" alt="Image 1">
                <h3>BADBEAT <br> E-Commerce Website</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Ultimate destination for all things trendy and fashionable!
                   Made using PHP, HTML, CSS, Javascript, SQL
                </p>
                <div class="btn" style="background-color: #0687ff; color: #fff;">LEARN MORE</div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1" style="background-color: #48494d;">
            <div class="content">
              <img src="./assets/storefront-white.png" alt="Image 1">
                <h3>StoreFront <br> MarketPlace</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Online platform that revolutionizes the way buyers and 
                  sellers interact in the digital marketplace. Created using Angular, PHP, 
                  Laravel, SQL
                </p>
                <div class="btn" style="background-color: #48494d; color: #fff;">LEARN MORE</div>
            </div>
        </div>
    </div>
  </div>

</div>


