<div class="about-page">
    <div class="about-content">
        <h1>About Me</h1>
        <p> I am a passionate Full Stack Developer with two years of experience in 
            the development industry. I help businesses create and maintain innovative 
            software applications, that improve people's lives. I love applying my experience 
            in the development industry to help tech companies scale their businesses and 
            provide value where it is needed.</p>
    </div>
    <div class="about-image">
        <img src="assets/man.jpg" alt="Image description">
    </div>
</div>
