<link rel="stylesheet" href="https://unpkg.com/github-calendar@latest/dist/github-calendar-responsive.css">

<div class="skills-page">
  <div class="skills-content">
        <div class="h1container">
            <h1 style="font-size: 48px;">Skills & Proficiencies</h1>
        </div>
        <div class="icon-set" style="padding-right: 10px;">
            <div class="logos">
                <div class="logo-details">
                    <h1 class="role">FRONT END DEVELOPMENT</h1>
                    <div class="social-icons">
                        <a class="social-icon social-icon--html">
                            <img src="assets/icons/html.png" alt="Icon" class="icon">
                          <div class="tooltip">HTML</div>
                        </a>
                        <a class="social-icon social-icon--css">
                            <img src="assets/icons/css.png" alt="Icon" class="icon">
                          <div class="tooltip">CSS</div>
                        </a>
                        <a class="social-icon social-icon--javascript">
                            <img src="assets/icons/javascript.png" alt="Icon" class="icon">
                          <div class="tooltip">JavaScript</div>
                        </a>
                        <a class="social-icon social-icon--react">
                            <img src="assets/icons/react.png" alt="Icon" class="icon">
                          <div class="tooltip">React</div>
                        </a>
                        <a class="social-icon social-icon--angular">
                            <img src="assets/icons/angular.png" alt="Icon" class="icon">
                          <div class="tooltip">Angular</div>
                        </a>
                        <a class="social-icon social-icon--ionic">
                            <img src="assets/icons/ionic.png" alt="Icon" class="icon">
                            <div class="tooltip">Ionic</div>
                        </a>
                        <a class="social-icon social-icon--jasper">
                            <img src="assets/icons/jasper.png" alt="Icon" class="icon">
                            <div class="tooltip">Jasper Reports</div>
                        </a>
                      </div>
                </div>
            </div>
        </div>
        <div class="icon-set" style="padding-right: 10px;">
            <div class="logos">
                <div class="logo-details">
                    <div class="social-icons">
                        <a class="social-icon social-icon--bootstrap">
                            <img src="assets/icons/bootstrap.png" alt="Icon" class="icon">
                            <div class="tooltip">Bootstrap</div>
                          </a>
                          <a class="social-icon social-icon--reactnative">
                            <img src="assets/icons/reactnative.png" alt="Icon" class="icon">
                            <div class="tooltip">React Native</div>
                          </a>
                        <a class="social-icon social-icon--tailwind">
                            <img src="assets/icons/tailwind.png" alt="Icon" class="icon">
                          <div class="tooltip">Tailwind</div>
                        </a>
                        <a class="social-icon social-icon--sass">
                            <img src="assets/icons/sass.png" alt="Icon" class="icon">
                          <div class="tooltip">Sass</div>
                        </a>
                        <a class="social-icon social-icon--jquery">
                            <img src="assets/icons/jquery.png" alt="Icon" class="icon">
                          <div class="tooltip">Jquery</div>
                        </a>
                        <a class="social-icon social-icon--chartjs">
                            <img src="assets/icons/chartjs.png" alt="Icon" class="icon">
                            <div class="tooltip">ChartJS</div>
                          </a>
                      </div>
                </div>
            </div>
        </div>
  </div>
  <div class="skills-content2">
    <div class="icon-set" style="padding-right: 10px;">
        <div class="logos">
            <div class="logo-details">
                <h1 class="role">BACK END DEVELOPMENT</h1>
                <div class="social-icons">
                    <a class="social-icon social-icon--typescript">
                        <img src="assets/icons/typescript.png" alt="Icon" class="icon">
                        <div class="tooltip">TypeScript</div>
                    </a>
                    <a class="social-icon social-icon--php">
                        <img src="assets/icons/php.png" alt="Icon" class="icon">
                      <div class="tooltip">PHP</div>
                    </a>
                    <a class="social-icon social-icon--laravel">
                        <img src="assets/icons/laravel.png" alt="Icon" class="icon">
                      <div class="tooltip">LARAVEL</div>
                    </a>
                    <a class="social-icon social-icon--aws">
                        <img src="assets/icons/aws.png" alt="Icon" class="icon">
                      <div class="tooltip">AWS</div>
                    </a>
                    <a class="social-icon social-icon--mysql">
                        <img src="assets/icons/mysql.png" alt="Icon" class="icon">
                      <div class="tooltip">MySQL</div>
                    </a>
                    <a class="social-icon social-icon--phpmyadmin">
                        <img src="assets/icons/phpmyadmin.png" alt="Icon" class="icon">
                      <div class="tooltip">PhpMyAdmin</div>
                    </a>
                    <a class="social-icon social-icon--postgresql">
                        <img src="assets/icons/postgresql.png" alt="Icon" class="icon">
                      <div class="tooltip">PostgreSQL</div>
                    </a>
                  </div>
            </div>
        </div>
    </div>
    <div class="icon-set" style="padding-right: 10px;">
        <div class="logos">
            <div class="logo-details">
                <div class="social-icons">
                    <a class="social-icon social-icon--sqlite">
                        <img src="assets/icons/sqlite.png" alt="Icon" class="icon">
                      <div class="tooltip">SQLite</div>
                    </a>
                    <a class="social-icon social-icon--plsql">
                        <img src="assets/icons/plsql.png" alt="Icon" class="icon">
                      <div class="tooltip">PL/SQL</div>
                    </a>
                    <a class="social-icon social-icon--talend">
                        <img src="assets/icons/talend.png" alt="Icon" class="icon">
                      <div class="tooltip">Talend</div>
                    </a>
                    <a class="social-icon social-icon--oracleapex">
                        <img src="assets/icons/oracleapex.png" alt="Icon" class="icon">
                      <div class="tooltip">Oracle Apex</div>
                    </a>
                    <a class="social-icon social-icon--nodejs">
                        <img src="assets/icons/nodejs.png" alt="Icon" class="icon">
                      <div class="tooltip">NodeJS</div>
                    </a>
                    <a class="social-icon social-icon--vagrant">
                        <img src="assets/icons/vagrant.png" alt="Icon" class="icon">
                        <div class="tooltip">Vagrant</div>
                      </a>
                  </div>
            </div>
        </div>
    </div>
  </div>
</div>
