
.landing-page {
    display: flex;
    height: 100vh;
    background-color: #f6f6f6;
}

.landing-image {
    width: 50%;
    background-color: #d6cdcb;
}

.landing-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.landing-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-content h1 {
    color: #343434;
    font-family: 'Inter-SemiBold';
    font-weight: Bold;
    font-size: 3.5em;
    margin-bottom: 0px;
}

.landing-content h2 {
    margin-top: 0px;
    color: #343434;
    font-family: 'Inter-Light';
    font-size: 2.5em;
    margin-bottom: 1em;
}

.landing-content button {
    font-weight: bold;
    font-family: 'Inter-Bold';
    font-size: 1em;
    padding: 1em 5em;
    border: none;
    background-color: #343434;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease; /* Added */
}

.landing-content button:hover {
    /* background-color: #5f5f5f; Darker shade of grey on hover */
    transform: scale(1.05); /* Button slightly enlarges on hover */
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
  .landing-content {
      width: 50%;
  }
}


@media (max-width: 875px) {
  .landing-page {
      flex-direction: column;
      height: auto;
  }

  .landing-content, .landing-image {
      width: 100%;
  }

  .landing-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .landing-content h1 {
      font-size: 2.5em;
  }

  .landing-content h2 {
      font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .landing-content h1 {
      font-size: 2em;
  }

  .landing-content h2 {
      font-size: 1.2em;
  }

  .landing-content button {
      font-size: 0.9em;
  }
}

/* Specific styling for iPhone 13 and similar */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 428px) 
and (-webkit-min-device-pixel-ratio: 2) {

  .landing-content h1 {
      font-size: 1.8em;
  }

  .landing-content h2 {
      font-size: 1.1em;
  }
}