<div class="landing-page d-flex flex-column flex-lg-row align-items-center">
    <div class="landing-image col-lg-7 p-0">
      <img src="assets/cogimage.gif" alt="Image description" class="img-fluid">
    </div>
    <div class="landing-content col-lg-5 d-flex flex-column justify-content-center align-items-center text-center p-3 p-lg-0">
      <h1 class="display-2">Darrel Mendoza</h1>
      <h2 class="display-4">Full Stack Engineer</h2>
      <button type="button" class="btn btn-dark" (click)="handleClick()" style="font-family: 'Inter-SemiBold';">Download Resume</button>
    </div>
</div>