.landing-page {
    background-color: #f6f6f6;
    padding: 5% 0 8% 0;
    height: 100%;
  }
  
  .landing-image {
    background-color: #d6cdcb;
  }
  
  .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .landing-content {
    padding: 1rem;
    margin: 50px 0px;
  }
  
  .landing-content h1 {
    color: #343434;
    font-family: 'Inter-SemiBold';
    font-weight: Bold;
    font-size: 3.5em;
    margin-bottom: 0px;
  }
  
  .landing-content h2 {
    margin-top: 0px;
    color: #343434;
    font-family: 'Inter-Light';
    font-size: 2.5em;
    margin-bottom: 1em;
  }
  
  .btn-dark {
    padding: 1em 5em;
    transition: background-color 0.5s ease, transform 0.5s ease;
  }
  
  .btn-dark:hover {
    transform: scale(1.05);
  }
  
  
@media (max-width: 575px) {
  .landing-page {
    background-color: #f6f6f6;
    padding: 15% 0 8% 0;
    height: 100%;
  }
  .landing-content h1 {
    color: #343434;
    font-family: 'Inter-SemiBold';
    font-weight: Bold;
    font-size: 2.5em;
    margin-bottom: 0px;
  }
  
  .landing-content h2 {
    margin-top: 0px;
    color: #343434;
    font-family: 'Inter-Light';
    font-size: 1.5em;
    margin-bottom: 1em;
  }
  
  .btn-dark {
    padding: 1em 3em;
    transition: background-color 0.5s ease, transform 0.5s ease;
  }
}


@media (max-width: 415px) {
  .landing-page {
    background-color: #f6f6f6;
    padding: 25% 0 8% 0;
    height: 100%;
  }
}

@media (max-width: 370px) {
  .landing-page {
    background-color: #f6f6f6;
    padding: 30% 0 8% 0;
    height: 100%;
  }
  .landing-content h1 {
    color: #343434;
    font-family: 'Inter-SemiBold';
    font-weight: Bold;
    font-size: 2em;
    margin-bottom: 0px;
  }
  
  .landing-content h2 {
    margin-top: 0px;
    color: #343434;
    font-family: 'Inter-Light';
    font-size: 1em;
    margin-bottom: 1em;
  }
  
  .btn-dark {
    padding: 1em 1em;
    transition: background-color 0.5s ease, transform 0.5s ease;
    font-size: 15px;
  }
}