<app-navbar></app-navbar>

<section id="landing-page">
    <app-landing-page></app-landing-page>
</section>

<section id="about-page">
    <app-about-page></app-about-page>
</section>

<!-- <section id="experience-page">
    <app-experience-page></app-experience-page>
</section> -->

<section id="skills-page">
    <app-skills></app-skills>
</section>

<section id="projects-page">
    <!-- <app-projects-page></app-projects-page> -->
    <!-- <app-github-graph></app-github-graph> -->
</section>

<section id="blogs-page">
    <!-- <app-blogs-page></app-blogs-page> -->
</section>

<section id="footer">
    <app-footer></app-footer>
</section>


<app-chatbot></app-chatbot>
